@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 1rem;
    border-radius: 2.7rem;
    align-items: center;
    margin: auto;
    padding-bottom: 10rem;
}

li {
    list-style: none;
    display: inline-block;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(101, 205, 101);
    cursor: pointer;
    text-shadow: 1px 1px 1px chocolate;
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.85) 0%, rgba(121, 9, 104, 0.558) 35%, rgba(0, 213, 255, 0.804) 100%), url(/images/sportsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.container {
    width: 300px;
    margin: auto;
}

input,
select,
button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

